.app {
    height: 100vh;
    background-image: url(../../assets/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.app .notification-dialog {
    display: none;
    width: 400;
    height: 76px;
    border-radius: 2px;
    background-color: var(--backgound-mention-secondary);
    border: 1px solid var(--boder-color-secondary);
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.app .notification-content {
    font-size: var(--font-size-text-md);
    color: var(--boder-color-secondary);
    width: 300px;
    margin-left: 20px;
    line-height: 23px;
}

.app .fa-close {
   position: absolute;
   right: 25px;
   bottom: 40px;
   cursor: pointer;
   display: none;
}

.app .notification-dialog:hover .fa-close {
    display: block;
}

.app .notification-content--filter {
   background-color: var(--background-mention-primary);
   border: 1px solid var(--boder-color-tertiary);
}

.app .notification-content--filter .notification-content {
    color: var(--color-text-quaternary);
}
